{% extends 'base.html' %}

{% block title %} NCCF Kebbi State | Publicity Unit {% endblock %}
{% block body %} 

<section id="hero">
<div class="hero-container">
  <div id="heroCarousel" data-bs-interval="5000" class="carousel slide carousel-fade" data-bs-ride="carousel">
    <ol class="carousel-indicators" id="hero-carousel-indicators"></ol>
    <div class="carousel-inner" role="listbox">
      <div class="carousel-item active" class="img-fluid" style="background-image: url(static/images/bg/NP.jpg)">
        <div class="carousel-container">
          <div class="carousel-content">
            <h2 class="animate__animated animate__fadeInDown">Batch C's Dinner & Awards Night </h2>
            <div>
              <a href="/" class="btn-get-started animate__animated animate__fadeInUp scrollto">Read More</a>
            </div>
          </div>
        </div>
      </div>

      <div class="carousel-item" class="img-fluid" style="background-image: url(static/images/bg/PU.jpg)">
        <div class="carousel-container">
          <div class="carousel-content">
            <h2 class="animate__animated animate__fadeInDown">Publicity Unit Members</h2>
            <div>
              <a href="/" class="btn-get-started animate__animated animate__fadeInUp scrollto">Read More</a>
            </div>
          </div>
        </div>
      </div>

      <div class="carousel-item" class="img-fluid" style="background-image: url(static/images/bg/image.jpg)">
        <div class="carousel-container">
          <div class="carousel-content">
            <h2 class="animate__animated animate__fadeInDown">2022/2023 Batch C's Prayer Walk</h2>
            <div>
              <a href="/" class="btn-get-started animate__animated animate__fadeInUp scrollto">Read More</a>
            </div>
          </div>
        </div>
      </div>

      <div class="carousel-item" class="img-fluid" style="background-image: url(static/images/bg/43.jpg)">
        <div class="carousel-container">
          <div class="carousel-content">
            <h2 class="animate__animated animate__fadeInDown">2022/2023 Batch C's taking Picture with the current Executive</h2>
            <div>
              <a href="/" class="btn-get-started animate__animated animate__fadeInUp scrollto">Read More</a>
            </div>
          </div>
        </div>
      </div>

      <div class="carousel-item" style="background-image: url(static/images/bg/Good.jpg)" class="img-fluid">
        <div class="carousel-container">
          <div class="carousel-content">
            <h2 class="animate__animated animate__fadeInDown">2022/2023 Batch C Prayer Walk</h2>
            <div>
              <a href="/" class="btn-get-started animate__animated animate__fadeInUp scrollto">Read More</a>
            </div>
          </div>
        </div>
      </div>

    </div>

    <a class="carousel-control-prev" href="#heroCarousel" role="button" data-bs-slide="prev">
      <span class="carousel-control-prev-icon bi bi-chevron-left" aria-hidden="true"></span>
    </a>

    <a class="carousel-control-next" href="#heroCarousel" role="button" data-bs-slide="next">
      <span class="carousel-control-next-icon bi bi-chevron-right" aria-hidden="true"></span>
    </a>

  </div>
</div>
</section>

<main id="main">

      <section id="about" class="about">
      <div class="container">
        <div class="section-title">
          <h2>About Publicity Unit</h2>
          <h5> A proactive, talented team members, well presented with abilities to carry on the task assigned to them with dedicated mind.</h5>
      
        <div class="content d-flex flex-column justify-content-center">
            <div class="row">
            <div class="col-md-6 icon-box">
              <i class="bi bi-speaker-fill"></i>
              <h4>Publicity Splash</h4>
              <h6>Publicity Splash is one of our core mission. Explantiating the theme/topic given given to other members and fellowship</h6>
            </div>
            <div class="col-md-6 icon-box">
              <i class="bi bi-camera-fill"></i>
              <h4>Photograph</h4>
              <h6>Taking of excellent pictorial excerpts is also a delegation in Publicity Unit. This picture are taking to preach evangelism to the world</h6>
            </div>
            <div class="col-md-6 icon-box">
              <i class="bi bi-diamond-fill"></i>
              <h4>Decoration</h4>
              <h6>We are into decorating the venues of our programs</h6>
            </div>
            <div class="col-md-6 icon-box">
              <i class="bi bi-record-btn-fill"></i>
              <h4>Live  Streaming</h4>
              <h6>We are into live streaming of programs or events.</h6>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="why-us" class="why-us">
  <div class="container">

    <div class="section-title">
      <h2>Why Us</h2>
      <p  id="us">We are the <b>eyes</b> of <b>Nigeria Christian Corper Fellowship (NCCF)</b>. 
        As we all know that NCCF is an Organization on its own. We the <strong>Publicity Unit</strong>
      present every programs,events, and evangelism going on to the world.
      <b>To preach the gospel.</b></p>
    </din v>
  </div>
</section>

<section id="portfolio" class="portfolio">
  <div class="container">

    <div class="section-title">
      <h2>Pictorial Excerpts</h2>
    </div>

    <div class="row">
      <div class="col-lg-12 d-flex justify-content-center"> </div>
    </div>
    <div class="row portfolio-container">

      <div class="col-lg-4 col-md-6 portfolio-item filter-app">
        <div class="portfolio-wrap">
          <img src="{{ url_for('static', filename='images/co/1.jpg') }}" class="img-fluid" alt="Batch C's">
          <div class="portfolio-info">
            <h4>Thanksgiving</h4>
            <p>Thanksgiving</p>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 portfolio-item filter-web">
        <div class="portfolio-wrap">
          <img src="{{ url_for('static', filename='images/co/7.jpg') }}" class="img-fluid" alt="Batch C's">
          <div class="portfolio-info">
            <h4>Prayer Walk</h4>
            <p>Prayer Walk</p>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 portfolio-item filter-app">
        <div class="portfolio-wrap">
          <img src="{{ url_for('static', filename='images/co/4.jpg') }}" class="img-fluid" alt="Batch C's">
          <div class="portfolio-info">
            <h4>Dinner</h4>
            <p>Dinner</p>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 portfolio-item filter-card">
        <div class="portfolio-wrap">
          <img src="{{ url_for('static', filename='images/co/3.jpg') }}" class="img-fluid" alt="Batch C's">
          <div class="portfolio-info">
            <h4>Thanksgiving</h4>
            <p>Thanksgiving</p>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 portfolio-item filter-web">
        <div class="portfolio-wrap">
          <img src="{{ url_for('static', filename='images/co/9.jpg') }}" class="img-fluid" alt="Batch C's">
          <div class="portfolio-info">
            <h4>Prayer Walk</h4>
            <p>Prayer Walk</p>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 portfolio-item filter-app">
        <div class="portfolio-wrap">
          <img src="{{ url_for('static', filename='images/co/14.jpg') }}" class="img-fluid" alt="Batch C's">
          <div class="portfolio-info">
            <h4>Dinner</h4>
            <p>Dinner</p>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 portfolio-item filter-card">
        <div class="portfolio-wrap">
          <img src="{{ url_for('static', filename='images/co/5.jpg') }}" class="img-fluid" alt="Batch C's">
          <div class="portfolio-info">
            <h4>Publicity Unit </h4>
            <p>With oneness we achieved things together.</p>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 portfolio-item filter-card">
        <div class="portfolio-wrap">
          <img src="{{ url_for('static', filename='images/co/16.jpg') }}" class="img-fluid" alt="Batch C's">
          <div class="portfolio-info">
            <h4>Passing Out Parade</h4>
            <p>Passing Out Parade.</p>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 portfolio-item filter-web">
        <div class="portfolio-wrap">
          <img src="{{ url_for('static', filename='images/co/2.jpg') }}" class="img-fluid" alt="Batch C's">
          <div class="portfolio-info">
            <h4>Birthday Design</h4>
            <p>We also do birhday design for birthday celebrants.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
</section>

<section id="team" class="team">
  <div class="container">

    <div class="section-title">
      <h2>Team</h2>
      <h3>Excellent Team Members</h3>
    </div>

    <div class="row">

      <div class="col-xl-3 col-lg-4 col-md-6">
        <div class="member">
          <img src="{{ url_for('static', filename='images/co/Mi.jpg') }}" class="img-fluid" alt="Miracle">
          <div class="member-info">
            <div class="member-info-content">
              <h4>Nnamani Miracle</h4>
              <span>Head of Publicity Unit</span>
              <div class="social">
                <a href="#"><i class="bi bi-twitter"></i></a>
                <a href="#"><i class="bi bi-facebook"></i></a>
                <a href="#"><i class="bi bi-instagram"></i></a>
                <a href="#"><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-xl-3 col-lg-4 col-md-6" data-wow-delay="0.1s">
        <div class="member">
          <img src="{{ url_for('static', filename='images/co/Fe.jpg') }}" class="img-fluid" alt="Festus">
          <div class="member-info">
            <div class="member-info-content">
              <h4>Olubiyi Festus</h4>
              <span>H.O.D Creativity</span>
              <div class="social">
                <a href="#"><i class="bi bi-twitter"></i></a>
                <a href="#"><i class="bi bi-facebook"></i></a>
                <a href="#"><i class="bi bi-instagram"></i></a>
                <a href="#"><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-xl-3 col-lg-4 col-md-6" data-wow-delay="0.2s">
        <div class="member">
          <img src="{{ url_for('static', filename='images/co/Fr.jpg') }}" class="img-fluid" alt="Franklin">
          <div class="member-info">
            <div class="member-info-content">
              <h4>Otu Franklin</h4>
              <span>H.O.D Content Creation</span>
              <div class="social">
                <a href="#"><i class="bi bi-twitter"></i></a>
                <a href="#"><i class="bi bi-facebook"></i></a>
                <a href="#"><i class="bi bi-instagram"></i></a>
                <a href="#"><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-xl-3 col-lg-4 col-md-6" data-wow-delay="0.3s">
        <div class="member">
          <img src="{{ url_for('static', filename='images/co/Za.jpg') }}" class="img-fluid" alt="Zachariah">
          <div class="member-info">
            <div class="member-info-content">
              <h4>Dauda Zachariah</h4>
              <span>Publicity Unit Secretary</span>
              <div class="social">
                <a href="#"><i class="bi bi-twitter"></i></a>
                <a href="#"><i class="bi bi-facebook"></i></a>
                <a href="#"><i class="bi bi-instagram"></i></a>
                <a href="#"><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
</main>

<br>

{% endblock %}